<div class="container">
    <div style="margin-top: 100px;" align="center">
        <h1>/app/views/users/page.html.erb</h1>
        <h3><%= content_tag(:span, truncate( raw( sanitize(@user.email, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 10, :omission => "..."), class: "etc") %> 님의 마이페이지</h3>
        <div style="margin-top: 30px;"></div>
        <% if not user_signed_in? %>
            <%= link_to "로그인", user_session_path, class: "btn btn-primary" %>
            <%= link_to "회원가입", new_user_registration_path, class: "btn btn-dark" %>
        <% else %>
            <%= link_to "메인", root_path, class: "btn btn-success" %>
            <%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        <% end %>
    </div>
    <hr/>
    
    <div style="white-space: pre-wrap;">
        아이디 : <%= current_user.email %>
        유저 No. : <%= current_user.id %>
    </div>
    
    <div style="margin-left: -200px; margin-right: -200px;">
        좋아한 글 : <%= @user.votes.up.for_type(Post).votables %> <br>
        싫어한 글 : <%= @user.votes.down.for_type(Post).votables %>
    </div>
</div>