<div class="board d-none d-md-block" style="background: url('/img/main_title.jpg') no-repeat fixed; background-size: 100% 70%; background-position:0px -180px;">
  <div class="container" align="left">
    <span class="post_title fade-anim"><%= link_to @bulletin.title, bulletin_posts_path(@bulletin.id), class: "board_title" %></span>
  </div>
</div>
<div class="board_mobile d-md-none" style="background: url('/img/main_title.jpg') no-repeat center center/cover scroll;">
  <span class="post_title fade-anim"><%= link_to @bulletin.title, bulletin_posts_path(@bulletin.id), class: "board_title" %></span>
</div>

<% #경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
<% if alert %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <% elsif notice %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% end %>

<div class="container">
    <%= render 'form', post: @post %>
</div>