<!DOCTYPE html>
<html>
  <head>
    <title>Elect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=yes">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%# 부트스트랩 v4.1 %>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
    <%# 폰트어썸 5버전 %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <%# 사이트 : https://fontawesome.com/icons %>
    
    <%# Customize Nav-bar %>
    <link rel="stylesheet" href="/nav-bar/agency.min.css"/>
    <script type="text/javascript" src="/nav-bar/bootstrap.bundle.min.js"></script>
    
    <%# 폰트 %>
    <link rel="stylesheet" href="/css/font.css"/>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
  	
  	<%# Typed.js %>
    <script type="text/javascript" src="/js/typed/typed.min.js"></script>
    <script type="text/javascript" src="/js/typed/demos.js"></script>
  	
  	<%# 롤링 스크롤링 (최다 좋아요 기능 관련) %>
    <script>
    $(document).ready(function(){
      	var height =  $(".notice").height(); //공지사항의 높이값을 구해주고~~
      	var num = $(".rolling li").length; // 공지사항의 개수를 알아볼수 있어요! length라는 것으로!
      	var max = height * num; //그렇다면 총 높이를 알 수 있겠죠 ?
      	var move = 0; //초기값을 설정해줍니다.
      	function noticeRolling(){
      		move += height; //여기에서 += 이라는 것은 move = move + height 값이라는 뜻을 줄인 거에요.
      		$(".rolling").animate({"top":-move}, 600,function(){ // animate를 통해서 부드럽게 top값을 올려줄거에요.
      			if( move >= max ){ //if문을 통해 최대값보다 top값을 많이 올렸다면 다시 !
      				$(this).css("top",0); //0으로 돌려주고~
      				move = 0; //초기값도 다시 0으로!
      			};
      		});
      	};
      	noticeRollingOff = setInterval(noticeRolling, 2500); //자동롤링답게 setInterval를 사용해서 1000 = 1초마다 함수 실행!!
      	$(".rolling").append($(".rolling li").first().clone()); //올리다보면 마지막이 안보여서 clone을 통해 첫번째li 복사!
      
      	$(".rolling_stop").load(function(){
      		clearInterval(noticeRollingOff); //stop을 누르면 clearInterval을 통해 자동롤링을 해제합니다.
      	});
      	$(".rolling_start").click(function(){
      		noticeRollingOff = setInterval(noticeRolling,1000); //다시 start를 누르면 자동롤링이 실행하도록 !!
      	});
    });
    </script>
    <style>
      .notice{width:100%; height:200px; overflow:hidden;}
      .rolling{position:relative; width:100%; height:auto;}
      .rolling li{width:100%; height:200px; line-height:50px;}
    </style>
  	
  	<%# 더 보기 %>
    <script>
    function showHide(id) {
      var obj = document.getElementById(id);
      if (obj.style.display == 'none')
         obj.style.display = 'block';
      else
        obj.style.display = 'none';
    }
    </script>
  	
  	<style>
  	/* 웹 페이지 기본 글씨체 */
  	body{
      font-family: 'NanumGothic', '나눔고딕', sas-serif !important;
      font-size: 15px;
  	}
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">P'e-vote</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          메뉴
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "투표 행사", bulletin_posts_path(2), class: "nav-link js-scroll-trigger" %>
            </li>
            <li class="nav-item">
              <%= link_to "투표 가이드", bulletin_posts_path(1), class: "nav-link js-scroll-trigger" %>
            </li>
            <li class="nav-item">
              <%= link_to "토론", bulletin_posts_path(1), class: "nav-link js-scroll-trigger" %>
            </li>
            <% if not user_signed_in? %>
            <li class="nav-item">
              <%= link_to "로그인", user_session_path, class: "nav-link js-scroll-trigger" %>
            </li>
            <li class="nav-item">
              <%= link_to "회원가입", users_confirm_path, class: "nav-link js-scroll-trigger" %>
            </li>
            <% else %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "마이페이지", "/users/page/#{current_user.id}", class: "dropdown-item" %>
                <%= link_to "정보수정", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    
    <%= yield %>
    
    <script type="text/javascript" src="/nav-bar/agency.min.js"></script>
  </body>
</html>
